<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link rel="stylesheet" href="~/css/bootstrap.min.css"  />
    <link rel="stylesheet" href="~/css/style.css"  />


</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">Messaging App</span>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home Page</a></li>
                        <li><a href="/Message">Message Page</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<div>
    @RenderBody()
</div>
<script src="js/signalR.js"></script>
<script src="js/script.js"></script>
<script src="js/signalRConfig.js"></script>
</body>
</html>
